* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gridLayout {
    display: grid;
    grid-template: 60px 1fr / minmax(120px, 2fr) 8fr;
    height: 100vh;
}

.gridLayout *{
    border: 2px solid red;
}

.verticalFlexContainer {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    justify-content: flex-start;
    gap: 16px;
}

header.verticalFlexContainer {
    gap: 0;
    padding-top: 0;
    justify-content: space-around;
}

aside {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: center;
    justify-items: center;
    gap: 16px;
    padding: 16px;
    overflow: scroll;
}

main.verticalFlexContainer {
    padding: 16px;
    flex: none;
    overflow: scroll;
}

article header {
    display: flex;
}

.closeBtn {
margin-left: auto;
}

article section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: center;
    justify-items: center;
    gap: 16px;
    padding: 8px;
}

.estudiante {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

.tipoEstudiante {
    align-self: flex-end;
    justify-self: flex-end;
}
.horasTrabajadas {
    align-self: flex-end;
    justify-self: flex-start;
}
.nombreEstudiante {
    grid-column: 1 / -1;
    justify-self: center;
    text-align: center;
    width: 90px;
    border-radius: 0 0 100px 100px;
}