* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gridLayout {
    display: grid;
    grid-template: 60px 1fr / minmax(120px, 2fr) 8fr;
    height: 100vh;
}

.gridLayout *{
    border: 2px solid red;
}

.verticalFlexContainer {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    justify-content: flex-start;
    gap: 16px;
}

header.verticalFlexContainer {
    gap: 0;
    padding-top: 0;
    justify-content: space-around;
}

aside {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: center;
    justify-items: center;
    gap: 16px;
    padding: 16px;
    overflow: scroll;
}

main.verticalFlexContainer {
    padding: 16px;
    flex: none;
    overflow: scroll;
}

article header {
    display: flex;
}

.closeBtn {
margin-left: auto;
}

article section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: center;
    justify-items: center;
    gap: 16px;
    padding: 8px;
}

.estudiante {
    display: grid;
    position: relative;
    grid-template: 1fr 1fr / 1fr 1fr;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: antiquewhite;
    cursor: pointer;
}

.tipoEstudiante {
    position: relative;
    left: 5px;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
    border: none;
}
.horasTrabajadas {
    align-self: flex-end;
    justify-self: flex-start;
    border: none;
}

.nombreEstudiante {
    grid-column: 1 / -1;
    justify-self: center;
    text-align: center;
    width: 90px;
    border-radius: 0 0 100px 100px;
    overflow: hidden;
}

dialog {
    margin-left: 25%;
    align-self: center;
}

button {
    cursor: pointer;
}

/*-----Specific selectors-----*/

#nuevoEstudiante form{
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr 1fr;
}

#nuevoCoordinador form{
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr 1fr;
}

#nuevoProyecto form{
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr 1fr;
}

/*-----Toggle classes-----*/

.hidden {
    display: none;
}

.ocuppyAll {
    grid-column: 1 / -1;
}

/*-----Animations-----*/

.estudiante::after,
.estudiante::before {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    text-align: center;
    width: 19px;
    border-radius: 100%;
    opacity: 0;
}

.estudiante::after{
    background-color: rgb(255, 80, 80, 1);
    color: rgba(0, 0, 0, 1);
    content: 'x';
    transform: translate(35px, 35px);
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform-origin: center;
}
.estudiante:hover::after{
    transform: translate(70px, 0px);
    opacity: 1;
    transform-origin: top right;
}

.estudiante::before{
    background-color: rgb(129, 104, 255, 1);
    color: rgba(0, 0, 0, 1);
    content: '+';
    transform: translate(35px, 35px);
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform-origin: center;
}
.estudiante:hover::before{
    transform: translate(0px, 70px);
    opacity: 1;
    transform-origin: top right;
}

.estudiante:active::before{
    background-color: rgb(112, 90, 222);
}
.estudiante:active::after{
    background-color: rgb(221, 70, 70);
}